.success-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9; /* Light background color */
    height: 100vh; /* Full viewport height */
}

.success-image {
    max-width: 70%; /* Responsive image */
    height: auto; /* Maintain aspect ratio */
    margin: 10px 0; /* Add margin around the image */
}

.home-button {
    background-color: #0c0c0b; /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 20px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Inline-block for button */
    font-size: 16px; /* Font size */
    margin-top: 20px; /* Margin above button */
    cursor: pointer; /* Pointer cursor on hover */
}

.home-button:hover {
    background-color: #ae8509; /* Darker green on hover */
    
}
