.page-product-container {
    padding: 0 15px; /* Padding to avoid cards sticking to the edges */
    margin-bottom: 10px;
}

.page-product-container .card {
    border-radius: 30px; /* Make the card corners rounded */
    border-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    margin-bottom: 50px; /* Add some space between cards */
}

.page-product-container .card-img-top {
    width: 100%;
    height: 100%; /* Make the image height fixed for a uniform look */
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-radius: 30px;
    border-width: thick;

}

.page-product-container .card-body {
    padding: 10px;
}

.page-product-container .card-title {
    font-size: 1.5rem;
    padding-bottom: 1px;
}

.page-product-container .card-text {
    font-size: 1.5rem;
    color: #666;
    padding-top: 2px;
    
}

.page-product-container .btn-custom {
    width: 100%; /* Full width button */
    background-color: #FFB900; /* Transparent background */
    color: black; /* Grey text color */
    border-radius: 40px; /* Rectangle shape */
    padding: 10px; /* Padding for better appearance */
    font-weight: bold; /* Bold text */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
    font-family: "Montserrat", sans-serif;
}

.page-product-container .btn-custom:hover {
    background-color: black; /* Black background on hover */
    color: white; /* White text on hover */
}
.page-product-container h2 {
    margin-top: 30px;
    margin-bottom: 80px; /* Increase this value as needed */
    font-family: "Montserrat", sans-serif;
    font-size:  60px;
    
}

.page-product-container .row {
    margin-top: 80px; /* Increase this value as needed */
}
