.custom-pagination {
    margin-left: auto;
    font-family: 'Montserrat', sans-serif; /* Thay đổi font chữ */
    justify-content: center;
  }
  
  .custom-pagination .page-item {
    background-color: #007bff; /* Màu nền cho các item */
    color: rgb(201, 67, 67); /* Màu chữ */
    font-size: 16px; /* Kích thước chữ */
    border-radius: 5px; /* Bo tròn góc các item */
  }
  

  
  .custom-pagination .page-item.active {
    background-color: #28a745; /* Màu nền cho item đang active */
    border-color: #28a745;
  }
  
  .page-link{
    margin: auto;
  }