.footer {
  background-color: #000000;
  padding: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;  
}

.footer-section {
  flex: 1;
  margin: 0 10px;
}

.footer-section h4 {
  margin-bottom: 40px; /* Adjust the value as needed */
  color: white
}

.footer-section p {
  color: white
}
.footer-bottom {
  border-top: 1px solid hsl(0, 1%, 31%);
  padding-top: 10px;
}

.footer-bottom p{
  color: white
}
